<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/b/bb/DMC4COVER.jpg" alt="..." class="image-responsive">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ea est facere
                    laborum nihil qui. Asperiores eligendi est facere provident repellendus. Cumque distinctio id, in
                    itaque nam praesentium sint voluptatem?</p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <p><a href="#" class="btn btn-success pull-right" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/b/bb/DMC4COVER.jpg" alt="..." class="image-responsive">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ea est facere
                    laborum nihil qui. Asperiores eligendi est facere provident repellendus. Cumque distinctio id, in
                    itaque nam praesentium sint voluptatem?</p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <p><a href="#" class="btn btn-success pull-right" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/b/bb/DMC4COVER.jpg" alt="..." class="image-responsive">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ea est facere
                    laborum nihil qui. Asperiores eligendi est facere provident repellendus. Cumque distinctio id, in
                    itaque nam praesentium sint voluptatem?</p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <p><a href="#" class="btn btn-success pull-right" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/b/bb/DMC4COVER.jpg" alt="..." class="image-responsive">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ea est facere
                    laborum nihil qui. Asperiores eligendi est facere provident repellendus. Cumque distinctio id, in
                    itaque nam praesentium sint voluptatem?</p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <p><a href="#" class="btn btn-success pull-right" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/b/bb/DMC4COVER.jpg" alt="..." class="image-responsive">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ea est facere
                    laborum nihil qui. Asperiores eligendi est facere provident repellendus. Cumque distinctio id, in
                    itaque nam praesentium sint voluptatem?</p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <p><a href="#" class="btn btn-success pull-right" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/b/bb/DMC4COVER.jpg" alt="..." class="image-responsive">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ea est facere
                    laborum nihil qui. Asperiores eligendi est facere provident repellendus. Cumque distinctio id, in
                    itaque nam praesentium sint voluptatem?</p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <p><a href="#" class="btn btn-success pull-right" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
